<p>CART COMPONENT</p>

<p>
  <a routerLink="/shipping">Check shipping Prices</a>
</p>
<section>
  <h3>Cart</h3>

  <div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name }}</span>
    <span>{{ item.price | currency : "EUR" }}</span>
  </div>

  <div class="cart-total">
    <span>TOTAL </span>
    <span>{{ getTotalPrice() | currency : "EUR" }}</span>
  </div>
</section>

<section>
  <h3>Your informations</h3>
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" />
    </div>

    <div>
      <label for="address">Address</label>
      <!-- Les champs de saisie pour le nom et l'adresse sont associés aux contrôles du formulaire réactif via formControlName. -->
      <!-- Cela permet de lier les données saisies par l'utilisateur à la logique du formulaire. -->
      <input id="address" type="text" formControlName="address" />
    </div>

    <button class="button" type="submit">Purchase</button>
  </form>
</section>
